

body {
    color: #a200a2;
    background-color: #282828;
    text-align: center;
    margin:auto;
    padding:25px
}
p{
    margin-left:inherit;
    text-align: inherit;
}
h1 {
    margin:auto
}
h2 {
    margin:auto
}

